<div class="map-tooltip-menu-directive">
	<div ng-click="nameSpace.selectIconMenu($event)" class="map-tooltip-menu-item-directive icon-type">
		<a class="btn btn-primary btn-sm"> <span class="glyphicon glyphicon-th"></span> </a>
	</div>
	<div ng-click="nameSpace.selectIconMenu($event)" class="map-tooltip-menu-item-directive list-type">
		<a class="btn btn-primary btn-sm"> <span class="glyphicon glyphicon-bell"></span> <span class="badge">3</span> </a>
	</div>
</div>
<div id="map-tooltip-arrow-id" ng-show="nameSpace.activeIconMenu" class="map-tooltip-arrow-directive icon-type"></div>
<div id="map-tooltip-id" ng-show="nameSpace.activeIconMenu" class="map-tooltip-directive">
	<a ng-click="nameSpace.closeIconMenu()" class="close pull-right" type="button"><span class="glyphicon glyphicon-remove small"></span></a>
	<div class="map-content-tooltip-directive">
		<div ng-if="nameSpace.typeContentMenu">
			<ng-switch on="nameSpace.typeOptionMenu">
				<div ng-switch-when="users" class="map-content-tabset-tooltip-directive">
					<ap-user-menu-tools model-config="modelConfig.users" api-config="userdtoendpoint/v1/userdto/" menu-nav-control="nameSpace.selectOptionMenu('other')" sub-menu-config="users"></ap-user-menu-tools>					
				</div>
				<div ng-switch-when="agents" class="map-content-tabset-tooltip-directive">
					<ap-user-menu-tools model-config="modelConfig.agents" api-config="agentdtoendpoint/v1/agentdto/" sub-api-config="userdtoendpoint/v1/userdto/" menu-nav-control="nameSpace.selectOptionMenu('other')" sub-menu-config="agents"></ap-user-menu-tools>					
				</div>
				<div ng-switch-when="require" class="map-content-tabset-tooltip-directive">
					<ap-user-menu-tools model-config="modelConfig.requires" api-config="requiredtoendpoint/v1/requiredto/" sub-api-config="userdtoendpoint/v1/userdto/" menu-nav-control="nameSpace.selectOptionMenu('other')" sub-menu-config="requires"></ap-user-menu-tools>
				</div>				
				<div ng-switch-when="tasks" class="map-content-tabset-tooltip-directive">
					<ap-task-menu-tools model-map-config="monitorMap" model-config="modelConfig.tasks" api-config="taskdtoendpoint/v1/taskdto/" second-api-config="agentdtoendpoint/v1/agentdto/" third-api-config="requiredtoendpoint/v1/requiredto/" menu-nav-control="nameSpace.selectOptionMenu('other')"></ap-task-menu-tools>
				</div>
				<div ng-switch-when="monitor" class="map-content-tabset-tooltip-directive">
					<a ng-click="nameSpace.selectOptionMenu('other')" class="close pull-left"><span class="glyphicon glyphicon-chevron-left small"></span></a>
					<tabset>
						<tab heading="Capas" select="nameSpace.getMonitorLayers()">
							<accordion class="monitor-map-accordion">
								<accordion-group class="panel-primary" is-open="true">
									<accordion-heading>
										<span>Capas de operación</span>
									</accordion-heading>
									<div style="width: 220px; float: left; margin: 0px 0px 0px 20px;">
										<div class="monitor-map-accordion-operation-layers-content">
											<div class="monitor-map-accordion-operation-layers">
												<div class="monitor-map-accordion-operation-layer-icon">
													<img ng-src="images/prison.png">
													<br/>
													<input type="checkbox" ng-click="monitorMap.controlMarkers(1)" name="radar" class="monitor-map-accordion-operation-layer-icon-state" checked/>
												</div>
												<div class="monitor-map-accordion-operation-layer-description">
													<div>
														Tareas Completadas
													</div>
													<div>
														<span class="text-muted small"><em>Tarea completadas exitosamente</em></span>
													</div>
													<div>
														<span class="text-muted small text-primary">1:20</span>
													</div>
												</div>
											</div>
										</div>
										<div class="monitor-map-accordion-operation-layers-content">
											<div class="monitor-map-accordion-operation-layers">
												<div class="monitor-map-accordion-operation-layer-icon">
													<img ng-src="images/prison2.png">
													<br/>
													<input type="checkbox" ng-click="monitorMap.controlMarkers(2)" name="radar" class="monitor-map-accordion-operation-layer-icon-state" checked/>
												</div>
												<div class="monitor-map-accordion-operation-layer-description">
													<div>
														Tareas Activas
													</div>
													<div>
														<span class="text-muted small"><em>Tarea sin completarse</em></span>
													</div>
													<div>
														<span class="text-muted small text-primary">1:20</span>
													</div>
												</div>
											</div>
										</div>
										<div class="monitor-map-accordion-operation-layers-content">
											<div class="monitor-map-accordion-operation-layers">
												<div class="monitor-map-accordion-operation-layer-icon">
													<img ng-src="images/male.png">
													<br/>
													<input type="checkbox" ng-click="monitorMap.controlMarkers(3)" name="radar" class="monitor-map-accordion-operation-layer-icon-state" checked/>
												</div>
												<div class="monitor-map-accordion-operation-layer-description">
													<div>
														Agentes
													</div>
													<div>
														<span class="text-muted small"><em>Agentes activos</em></span>
													</div>
													<div>
														<span class="text-muted small text-primary">1:20</span>
													</div>
												</div>
											</div>
										</div>
									</div>
								</accordion-group>
								<accordion-group class="panel-primary">
									<accordion-heading>
										<span>Capas de contexto</span>
									</accordion-heading>
									<div id="tab-zones"></div>
								</accordion-group>
							</accordion>
						</tab>
					</tabset>
				</div>
				<div ng-switch-when="help">
					<a ng-click="nameSpace.selectOptionMenu('other')" class="btn btn-default btn-sm pull-left"><span class="glyphicon glyphicon-arrow-left"></span></a>
					<p>
						Prueba Help
					</p>
				</div>
				<div ng-switch-default>
					<div class="map-sub-content-tooltip-directive">
						<div class="map-sub-content-icon-tooltip-directive">
							<span class="glyphicon glyphicon-user text-primary fa-3x"></span>
						</div>
						<div class="map-sub-content-info-tooltip-directive">
							<a ng-click="nameSpace.selectOptionMenu('users')" class="btn btn-default"> <span class="text-muted small text-primary ng-binding">Usuarios</span> </a>
						</div>
					</div>
					<div class="map-sub-content-tooltip-directive">
						<div class="map-sub-content-icon-tooltip-directive">
							<span class="glyphicon glyphicon-wrench text-primary fa-3x"></span>
						</div>
						<div class="map-sub-content-info-tooltip-directive">
							<a ng-click="nameSpace.selectOptionMenu('agents')" class="btn btn-default"> <span class="text-muted small text-primary ng-binding">Agentes</span> </a>
						</div>
					</div>
					<div class="map-sub-content-tooltip-directive">
						<div class="map-sub-content-icon-tooltip-directive">
							<span class="glyphicon glyphicon-eye-open text-primary fa-3x"></span>
						</div>
						<div class="map-sub-content-info-tooltip-directive">
							<a ng-click="nameSpace.selectOptionMenu('require')" class="btn btn-default"> <span class="text-muted small text-primary ng-binding">Requerido</span> </a>
						</div>
					</div>
					<!-- <div class="map-sub-content-tooltip-directive">
						<div class="map-sub-content-icon-tooltip-directive">
							<span class="glyphicon glyphicon-map-marker text-primary fa-3x"></span>
						</div>
						<div class="map-sub-content-info-tooltip-directive">
							<a ng-click="nameSpace.selectOptionMenu('zone')" class="btn btn-default"> <span class="text-muted small text-primary ng-binding">Zona</span> </a>
						</div>
					</div> -->
					<div class="map-sub-content-tooltip-directive">
						<div class="map-sub-content-icon-tooltip-directive">
							<span class="glyphicon glyphicon-tasks text-primary fa-3x"></span>
						</div>
						<div class="map-sub-content-info-tooltip-directive">
							<a ng-click="nameSpace.selectOptionMenu('tasks')" class="btn btn-default"> <span class="text-muted small text-primary ng-binding">Tareas</span> </a>
						</div>
					</div>
					<!-- <div class="map-sub-content-tooltip-directive">
						<div class="map-sub-content-icon-tooltip-directive">
							<span class="glyphicon glyphicon-globe text-primary fa-3x"></span>
						</div>
						<div class="map-sub-content-info-tooltip-directive">
							<a ng-click="nameSpace.selectOptionMenu('monitor')" class="btn btn-default"> <span class="text-muted small text-primary ng-binding">Monitor</span> </a>
						</div>
					</div> -->
				</div>
			</ng-switch>
		</div>
		<div ng-if="!nameSpace.typeContentMenu">
			<div class="map-tooltip-container-notifications-directive">
				<div ng-repeat="notification in nameSpace.notificationsMap" class="map-sub-content-notifications-tooltip-directive">
					<div class="map-sub-content-notifications-icon-tooltip-directive">
						<span class="{{notification.icon}} text-primary"></span>
						<br/>
						<span class="text-muted small text-default ng-binding">{{notification.name}}</span>
					</div>
					<div class="map-sub-content-notifications-info-tooltip-directive">
						<span class="text-muted small"> <em>{{notification.description}}</em> </span>
					</div>
				</div>
			</div>
		</div>
	</div>
</div>