<?xml version="1.0" encoding="utf-8" standalone="no"?><web-app xmlns="http://java.sun.com/xml/ns/javaee" xmlns:web="http://java.sun.com/xml/ns/javaee/web-app_2_5.xsd" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" version="2.5" xsi:schemaLocation="http://java.sun.com/xml/ns/javaee http://java.sun.com/xml/ns/javaee/web-app_2_5.xsd">
  
 <servlet>
  <servlet-name>SystemServiceServlet</servlet-name>
  <servlet-class>com.google.api.server.spi.SystemServiceServlet</servlet-class>
  <init-param>
   <param-name>services</param-name>
   <param-value>com.demomapas.model.AgenteEndpoint,com.demomapas.model.DetenidoEndpoint,com.demomapas.model.DeviceInfoEndpoint,com.demomapas.model.MessageEndpoint,com.demomapas.model.MultimediaEndpoint,com.demomapas.model.PuntoEndpoint,com.demomapas.model.TareaEndpoint,com.demomapas.model.UsuarioEndpoint,com.demomapas.model.ZonaEndpoint</param-value>
  </init-param>
 </servlet>
 <servlet-mapping>
  <servlet-name>SystemServiceServlet</servlet-name>
  <url-pattern>/_ah/spi/*</url-pattern>
 </servlet-mapping>
 <servlet>
    <servlet-name>Upload</servlet-name>
    <servlet-class>com.demomapas.Upload</servlet-class>
  </servlet>
  
  <servlet>
    <servlet-name>Serve</servlet-name>
    <servlet-class>com.demomapas.Serve</servlet-class>
  </servlet>
 
  <servlet-mapping>
    <servlet-name>Upload</servlet-name>
    <url-pattern>/upload</url-pattern>
  </servlet-mapping>

  <servlet-mapping>
    <servlet-name>Serve</servlet-name>
    <url-pattern>/serve</url-pattern>
  </servlet-mapping>
    <servlet>
          <servlet-name>AndroidServeURL</servlet-name>
          <servlet-class>com.demomapas.AndroidServeURL</servlet-class>
      </servlet>
         <servlet-mapping>
       <servlet-name>AndroidServeURL</servlet-name>
       <url-pattern>/blob/androidserveurl</url-pattern>
   </servlet-mapping>
</web-app>