<a ng-click="menuNavControl()" class="close pull-left"><span class="glyphicon glyphicon-chevron-left small"></span></a>
<tabset>
	<tab heading="Agregar" disabled="model.isDisabledAdd" active="model.isActiveAdd" select="model.onSelectObject()">
		<br />
		<ng-switch on="subMenuConfig">
			<div ng-switch-when="agents" class="map-tooltip-container-add-agent-directive">
				<form name="form" ng-submit="form.$valid && model.addObject(form)" role="form" novalidate>
					<div class="form-group">
						<div class="col-sm-12">
							<input type="text" ng-model="model.object.idUser" typeahead="user.id as user.name for user in model.users | filter:$viewValue | limitTo:8" class="form-control" placeholder="usuario" required>
						</div>
						<div class="col-sm-12">
							<input type="text" ng-model="model.object.alias" class="form-control" placeholder="nombre de usuario" required>
							<input type="password" ng-model="model.object.aliasP" class="form-control" placeholder="contraseña" required>
							<input type="text" ng-model="model.object.tuition" class="form-control" placeholder="matrícula" required>
						</div>
					</div>
					<div class="col-sm-12">
						<button type="submit" class="btn btn-primary btn-sm pull-right">
							<i class="glyphicon glyphicon-ok-circle">Agregar</i>
						</button>
					</div>
				</form>
			</div>
			<div ng-switch-when="users" class="map-tooltip-container-add-agent-directive">
				<form name="form" ng-submit="form.$valid && model.addObject(form)" role="form" novalidate>
					<div class="form-group">
						<div class="col-sm-12">
							<input type="text" ng-model="model.object.name" class="form-control" placeholder="nombre" required>
							<input type="text" ng-model="model.object.firstName" class="form-control" placeholder="apellido paterno" required>
							<input type="text" ng-model="model.object.lastName" class="form-control" placeholder="apellido materno" required>
						</div>
						<div class="col-sm-8">
							<div class="btn-group" role="group">
								<span class="input-group-addon form-control">
									<input type="radio" name="sex" ng-model="model.object.sex" value="M" required>
									<span class="label label-default">M</span>
									<input type="radio" name="sex" ng-model="model.object.sex" value="F" required>
									<span class="label label-default">F</span> </span>
							</div>
						</div>
						<div class="col-sm-4">
							<input type="text" ng-model="model.object.age" class="form-control" placeholder="edad" required>
						</div>
					</div>
					<div class="col-sm-12">
						<button type="submit" class="btn btn-primary btn-sm pull-right">
							<i class="glyphicon glyphicon-ok-circle">Agregar</i>
						</button>
					</div>
				</form>
			</div>
			<div ng-switch-when="requires" class="map-tooltip-container-add-agent-directive">
				<form name="form" ng-submit="form.$valid && model.addObject(form)" role="form" novalidate>
					<div class="form-group">
						<div class="col-sm-12">
							<input type="text" ng-model="model.object.idUser" typeahead="user.id as user.name for user in model.users | filter:$viewValue | limitTo:8" class="form-control" placeholder="usuario" required>
						</div>
						<div class="col-sm-12">
							<input type="text" ng-model="model.object.charge" class="form-control" placeholder="cargo" required>
							<input type="text" ng-model="model.object.crime" class="form-control" placeholder="delito" required>
						</div>
					</div>
					<div class="col-sm-12">
						<button type="submit" class="btn btn-primary btn-sm pull-right">
							<i class="glyphicon glyphicon-ok-circle">Agregar</i>
						</button>
					</div>
				</form>
			</div>
		</ng-switch>
	</tab>
	<tab heading="Eliminar" disabled="model.isDisabledDelete" active="model.isActiveDelete">
		<table st-table="model.objects" st-pipe="model.getObjects" class="table">
			<thead>
				<tr>
					<th ng-repeat="model in modelConfig" st-sort="{{model.property}}">{{model.property}}</th>
				</tr>
			</thead>
			<tbody>
				<tr ng-repeat="object in model.objects">
					<td ng-repeat="model in modelConfig"> {{object[model.property]}} </td>
					<td>
					<button type="button" ng-click="model.preUpdateObject(object)" class="btn btn-sm btn-success">
						<i class="glyphicon glyphicon-floppy-disk">Editar</i>
					</button></td>
					<td>
					<button type="button" ng-click="model.deleteObject(object.id)" class="btn btn-sm btn-danger">
						<i class="glyphicon glyphicon-remove-circle">Eliminar</i>
					</button></td>
				</tr>
			</tbody>
			<tfoot>
				<tr>
					<td colspan="5" class="text-center"><td class="text-center" st-pagination="" st-items-by-page="model.itemsByPagePaginator" colspan="4"></td>
					</td>
				</tr>
			</tfoot>
		</table>
	</tab>
	<tab heading="Editar" disabled="model.isDisabledEdit" active="model.isActiveEdit">
		<ng-switch on="subMenuConfig">
			<div ng-switch-when="agents" class="map-tooltip-container-add-agent-directive">
				<form name="formUpdate" ng-submit="formUpdate.$valid && model.updateObject()" role="form" novalidate>
					<div class="form-group">
						<div class="col-sm-12">
							<input type="text" ng-model="model.object.idUser" typeahead="user.id as user.name for user in model.users | filter:$viewValue | limitTo:8" class="form-control" placeholder="usuario" required>
						</div>
						<div class="col-sm-12">
							<input type="text" ng-model="model.object.alias" class="form-control" placeholder="nombre de usuario" required>
							<input type="password" ng-model="model.object.aliasP" class="form-control" placeholder="contraseña" required>
							<input type="text" ng-model="model.object.tuition" class="form-control" placeholder="matrícula" required>
						</div>
					</div>
					<div class="col-sm-12">
						<button type="submit" class="btn btn-primary btn-sm pull-right">
							<i class="glyphicon glyphicon-floppy-saved">Aceptar</i>
						</button>
						<button type="button" ng-click="model.calcelUpdateObject()" class="btn btn-sm btn-danger pull-right">
							<i class="glyphicon glyphicon-floppy-remove">Cancelar</i>
						</button></td>
					</div>
				</form>
			</div>
			<div ng-switch-when="users" class="map-tooltip-container-add-agent-directive">
				<form name="formUpdate" ng-submit="formUpdate.$valid && model.updateObject()" role="form" novalidate>
					<div class="form-group">
						<div class="col-sm-12">
							<input type="text" ng-model="model.object.name" class="form-control" placeholder="nombre" required>
							<input type="text" ng-model="model.object.firstName" class="form-control" placeholder="apellido paterno" required>
							<input type="text" ng-model="model.object.lastName" class="form-control" placeholder="apellido materno" required>
						</div>
						<div class="col-sm-8">
							<div class="btn-group" role="group">
								<span class="input-group-addon form-control">
									<input type="radio" name="sex" ng-model="model.object.sex" value="M" required>
									<span class="label label-default">M</span>
									<input type="radio" name="sex" ng-model="model.object.sex" value="F" required>
									<span class="label label-default">F</span> </span>
							</div>
						</div>
						<div class="col-sm-4">
							<input type="text" ng-model="model.object.age" class="form-control" placeholder="edad" required>
						</div>
					</div>
					<div class="col-sm-12">
						<button type="submit" class="btn btn-primary btn-sm pull-right">
							<i class="glyphicon glyphicon-floppy-saved">Aceptar</i>
						</button>
						<button type="button" ng-click="model.calcelUpdateObject()" class="btn btn-sm btn-danger pull-right">
							<i class="glyphicon glyphicon-floppy-remove">Cancelar</i>
						</button></td>
					</div>
				</form>
			</div>
			<div ng-switch-when="requires" class="map-tooltip-container-add-agent-directive">
				<form name="formUpdate" ng-submit="formUpdate.$valid && model.updateObject()" role="form" novalidate>
					<div class="form-group">
						<div class="col-sm-12">
							<input type="text" ng-model="model.object.idUser" typeahead="user.id as user.name for user in model.users | filter:$viewValue | limitTo:8" class="form-control" placeholder="usuario" required>
						</div>
						<div class="col-sm-12">
							<input type="text" ng-model="model.object.charge" class="form-control" placeholder="cargo" required>
							<input type="text" ng-model="model.object.crime" class="form-control" placeholder="delito" required>
						</div>
					</div>
					<div class="col-sm-12">
						<button type="submit" class="btn btn-primary btn-sm pull-right">
							<i class="glyphicon glyphicon-floppy-saved">Aceptar</i>
						</button>
						<button type="button" ng-click="model.calcelUpdateObject()" class="btn btn-sm btn-danger pull-right">
							<i class="glyphicon glyphicon-floppy-remove">Cancelar</i>
						</button></td>
					</div>
				</form>
			</div>
		</ng-switch>
	</tab>
</tabset>